#front {
  position: relative;
  left: 50px;
  width: 1012px;
  height: 638px;
  background-image: url(war_front.png);
  background-position: center;
  margin: 5px;
}

#back {
  position: relative;
  left: 50px;
  width: 1012px;
  height: 638px;
  background-image: url(war_back.png);
  background-position: center;
  margin: 5px;
}

#top {
  font-size: 1em;
  margin-left: 20px;
  margin-top: 20px;
}

#menu {
  margin-left:20px;
}
#hcn {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-weight: bold;
  z-index: 1;
  font-size: 1.2em;
  margin-top: 595px;
  margin-left: 565px;
}

.backselect {
  width: 160px;
}

.label {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-size: 2em;
  margin-left: 120px;
}

.warfarin {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-size: 5em;
  margin-left: 280px;
}

.labelback {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-size: 3em;
  margin-left: 280px;
}

.duration {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-size: 3em;
  margin-left: 280px;
}


#startdate {
  width: 160px;
}

#dob {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;
  transform: rotate(-90deg);
  margin-left: 840px;
  margin-top: 335px;
}

#barcode {
  position: absolute;
  margin-left: 558px;
  margin-top: 490px;
}

#image {
  position: absolute;
  margin-left: 558px;
  margin-top: 490px;
}

#photo {
  position: absolute;
  margin-left: 660px;
  margin-top: 220px;
}

#form {
  position: relative;
  left: 50px;
  width: 1050px;
  height: 600px;
  margin: 5px;
}
