#ul {
  margin-left: 50px;
}

#front {
  position: relative;
  left: 50px;
  width: 1012px;
  height: 638px;
  background-image: url(war_front.png);
  background-position: center;
  margin: 5px;
}

#back {
  position: relative;
  left: 50px;
  width: 1012px;
  height: 638px;
  background-image: url(war_back.PNG);
  background-position: center;
  margin: 5px;
}


.label {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-size: 2em;
  margin-left: 120px;
}

.warfarin {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-size: 5em;
  margin-left: 280px;
}

.labelback {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-size: 3em;
  margin-left: 280px;
}

.duration {
  position: absolute;
  color: rgb(28, 17, 7);
  font-family: sans-serif;
  font-size: 3em;
  margin-left: 730px;
}




#dob {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;
  transform: rotate(-90deg);
  margin-left: 840px;
  margin-top: 335px;
}

#barcode {
  position: absolute;
  margin-left: 558px;
  margin-top: 490px;
}

#photo {
  position: absolute;
  margin-left: 660px;
  margin-top: 220px;
}

#form {
  position: relative;
  left: 50px;
  width: 1050px;
  height: 600px;
  margin: 5px;
}
